*,
*::before,
*::after * {
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 150%;
    background-color: rgb(242, 242, 242);
}

.wrapper {
    margin-top: 0 auto;
    justify-content: center;
    align-items: center;
}

.nav.navbar {
    font: rgba(31, 35, 41, 0.863);
}

h1,
#cardfoot {
    color: #f8f8fa;
    background-color: #085d85;
    margin: 3px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-size: semi-bold 600;
    background: url(assets/33748.jpg);
}

.container {
    box-shadow: 0 1px 8px 3px rgba(21, 100, 74, 0.781);
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
}


/* //About me page// */

.media-body {
    margin-right: 40px;
    margin-left: 15px;
    margin-top: 10px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}

#text {
    font-family: 'Cormorant Garamond', serif;
}

s .mt-0,
h5 {
    font-size: 40x;
    font-family: 'Playfair Display', serif;
    color: rgb(39, 44, 43)
}

#img-thumblogo {
    width: 80px;
    height: 90px;
}

#img-thumbind {
    padding: 20px;
    border: line;
    max-width: 280px;
    max-height: 230px;
}

#img-thumb {
    max-width: 300px;
    max-height: 300px;
    padding: 20px;
    border: line
}

#img-thumbContact {
    margin-top: 10px;
    max-width: 60px;
    max-height: 90px;
    padding: 10px;
}

input[type=submit]:hover {
    background-color: #4f9ecc;
}

a:hover {
    color: rgb(238, 241, 233);
}

a:focus {
    color: rgb(52, 70, 65);
}

a:visited {
    color: rgb(68, 119, 115);
}

a:link {
    color: rgba(30, 40, 53, 0.945)
}

#contact-info {
    background: rgb(128, 34, 34);
}

@media screen and (max-width: 768px) {
    body {
        background-color: #333;
    }
    .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
    }
    #main-content,
    #sidebar {
        width: 100%;
    }
    #sidebar {
        margin-top: 40px;
    }
}

@media screen and (max-width: 320px) {
    body {
        background-color: #333;
    }
    background-color: rgb(216, 243, 220);
}

.wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
}

#main-content,
#sidebar {
    width: 100%;
}

#sidebar {
    margin-top: 40px;
}


/* Width at 168px and below */

@media screen and (max-width: 168px) {
    body {
        background-color: #333;
    }
    .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
    }
    #main-content,
    #sidebar {
        width: 100%;
    }
    #sidebar {
        margin-top: 40px;
    }
}