*,
*::before,
*::after * {
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 150%;
    background-color: rgb(242, 242, 242);
}

.wrapper {
    margin-top: 0 auto;
    background-color: rgb(242, 242, 242);
    justify-content: center;
    align-items: center;
}

h1,
#cardfoot {
    color: #f8f8fa;
    background-color: #085d85;
    margin: 3px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-size: semi-bold 600;
    background-image: url(assets/33748.jpg);
}

.container {
    box-shadow: 0 0 3px 1px rgba(35, 158, 138, 0.705);
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
}


/* //About me page// */

#text {
    font-family: 'Cormorant Garamond', serif;
}

#h5 {
    font-family: 'Playfair Display', serif;
}

.mt-0 {
    font-size: 30x;
}

#img-thumb {
    max-width: 200px;
    max-height: 200px;
    padding: 20px;
    border: line
}

#img-thumbContact {
    max-width: 40px;
    max-height: 40px;
    padding: 2px;
}


/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical, /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* This is not currently working and has been changed to a a bootstrap primary active state button to simulate submitting.
leaving css code in place so that when html is updated the code will be here*/

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4f9ecc;
}

a:hover {
    color: rgb(238, 241, 233);
}

a:active {
    color: rgb(15, 148, 172);
}

a:focus {
    color: rgb(39, 44, 43)
}

a:visited {
    color: rgb(52, 70, 65);
}

a:link {
    color: rgb(68, 119, 115);
}

#contact-info {
    background: rgb(128, 34, 34);
}


/* contact page/*/

.containerform {
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    margin-bottom: 10px;
}

.btn {
    margin-left: 5px;
    padding: 20px;
}


/* .card {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
} */

@media screen and (max-width: 768px) {
    body {
        background-color: #333;
    }
    .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
    }
    #main-content,
    #sidebar {
        width: 100%;
    }
    #sidebar {
        margin-top: 40px;
    }
}

@media screen and (max-width: 320px) {
    body {
        background-color: #333;
    }
    background-color: rgb(216, 243, 220);
}

.wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
}

#main-content,
#sidebar {
    width: 100%;
}

#sidebar {
    margin-top: 40px;
}


/* Width at 168px and below */

@media screen and (max-width: 168px) {
    body {
        background-color: #333;
    }
    .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
    }
    #main-content,
    #sidebar {
        width: 100%;
    }
    #sidebar {
        margin-top: 40px;
    }
}